:root {
  --back-color: #4464ad;
  --primary-color: #f9ffee;

  --header-text: #eee;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}
header {
  background-color: var(--header-back);
  color: var(--header-text);
}

.box img {
  border: 2px solid var(--primary-color);
}
