
.action{
border: solid 3px black;
border-radius: 25px;
background-color: white;
width: 55ch;
margin:auto;
}
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-image: url("/img/1_louisnjaffe.jpeg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.top {
  z-index:2;
  margin-left: 0px; /* Same as the width of the sidebar */
  padding: 0px 0px;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #b7c9e2;

}

.home-container {
  z-index:1;
  margin-left: 10px; /* Same as the width of the sidebar */
  margin-top: 10px;
  padding: 0px 0px;
  top: 12px;
  left: 0;
  right:0;
  position:absolute;
  bottom: 0;
  grid-template-columns: 1;
  grid-template-rows: 1;
  border: 2px solid black;
  border-radius:25px;
  height: 70px;
  width: 70px;
  background-color: rgb(242,177,163);
  position: sticky;
}
.home-container:hover{
  border: 2px solid white;
  background-color:rgb(208,247,128);
}

.home.container:a{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  text-align: center;
}

.content{
  margin-top: 0px;
  margin-left: 0px; /* Same as the width of the sidebar */
  padding: 0px 0px;
  top: 0;
  left: 0;
  height:100%;
  opacity: 1;
}

.intro{
    display:grid;
    height: auto; /* Full-height: remove this if you want "auto" height */
    width: 30%; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    bottom: 0; /* Stay at the top */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
    padding-bottom: 0px;
    align-items: center;
    align-content:center;
    justify-content:center;
  }

  #intro{
    background-color: white;
    border: 3px solid black;
    border-radius:25px;
    padding: 1%;
    fill-opacity:0.5;
  }
  #intro:hover{
    border-color:black;
  }

h1 {
  color: rgb(222,219,214);
  background-color: rgb(84,64,55);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 74px;
  text-align: center
}


h2 {
  color: rgb(84,64,55);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  text-align: center
}

h3 {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size:1.5vw;
  text-align: center;
}

/* Setting container to flex and width to 80% of view port */
.container{ 
display: flex; 
width: 30%;
margin:auto;
} 
/*Adding background image to each section*/
.one{ 
background: url(../img/1_phoenix-1.jpeg); 
} 
.two{ 
background: url(../img/1_phoenix-2.jpeg); 
} 
.three{ 
background: url(../img/1_phoenix-3.jpeg); 
} 
.four{ 
background: url(../img/1_phoenix-4.jpeg); 
} 
/* Background properties and transition effect to section */
.section{ 
background-size: cover; 
background-position: center; 
background-repeat: no-repeat; 
height: 50vh; 
cursor: pointer; 
flex: 0.2; 
margin:8px; 
position: relative; 
transition: all 0.7s ease-out; 
} 

/* section with active class will grow flex to 3 times */
.section.active{ 
flex: 3; 
}