body{
    background-color: rgb(47, 47, 131);
}
h1 {
    color: rgb(222,219,214);
    background-color: rgb(84,64,55);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
    font-size: 74px;
    text-align: center
  }
  h2 {
    color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 2.2vw;
  text-align: center;
  line-height: 98%;
}
h3 {
  color: black;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.4vw;
  text-align: center;
  line-height: 98%;
}


.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding: 0px;
}
.grid-item {
  border: 3px solid white;
  padding: 0px;
  text-align: center;
  border-radius: 25px;
}

.grid-item:hover{
  border: 3px solid gray;
}

.welcome{
  display:grid;
  height: auto; /* Full-height: remove this if you want "auto" height */
  width: 30%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 13%;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  padding-bottom: 0px;
  animation: dropdown-3 1.5s ease-out;
  align-items: center;
  align-content:center;
}
@keyframes dropdown-3
{
0%   {right:13%; top:-700px; }
100% {right:13%; top:0px;}
}
#welcome{
  background-color: rgb(41, 41, 97);
  padding: 1%;
}
#welcome:hover{
  border-color:white;
}
#welcome h2{
  color: white;
}
#welcome h3{
  color:white;
}

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
  height: auto;
}

/* The sidebar menu */
.sidenav-left {
  height: auto; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left:10px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  padding-bottom: 0px;
  animation: dropdown-1 1.5s ease-out;
}

/* The navigation menu links */
.sidenav-left a {
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 25px;
  color: #e2cfea;
  display: grid;
}

@keyframes dropdown-1
{
0%   {left:10px; top:-700px; }
100% {left:10px; top:0px;}
}

#one {
  background-color:#b7c9e2;
}
#one:hover{
  background-color:rgb(208,247,128);
}

#two {
  background-color:#f8d568;
}
#two:hover{
  background-color:rgb(208,247,128);
}

#three {
  background-color:#9ee09e ;
}
#three:hover{
  background-color:rgb(208,247,128);
}

#four {
  background-color:#eccaff;
}
#four:hover{
  background-color:rgb(208,247,128);
}

#five {
  background-color:#feb144;
}
#five:hover{
  background-color:rgb(208,247,128);
}

#six {
  background-color:#eccaff;
}
#six:hover{
  background-color:rgb(208,247,128);
}

#seven {
  background-color:#b7c9e2;
}
#seven:hover{
  background-color:rgb(208,247,128);
}

#eight {
  background-color:#9ee09e;
}
#eight:hover{
  background-color:rgb(208,247,128);
}

#nine {
  background-color:#f8d568;
}
#nine:hover{
  background-color:rgb(208,247,128);
}

#ten {
  background-color:#feb144;
}
#ten:hover{
  background-color:rgb(208,247,128);
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 0px;}
  .sidenav a {font-size: 12px;}
}

/* The sidebar menu */
.sidenav-right {
  height: auto; /* Full-height: remove this if you want "auto" height */
  width: 10%; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 10px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  padding-bottom: 0px;
  animation: dropdown-2 1.5s ease-out;
}
@keyframes dropdown-2
{
0%   {right:10px; top:-700px; }
100% {right:10px; top:0px;}
}

/* The navigation menu links */
.sidenav-right a {
  padding: 0px 0px 0px 0px;
  text-decoration: none;
  font-size: 25px;
  display: grid;
}

/* Style page content */
.main {
  margin-left: 0px; /* Same as the width of the sidebar */
  padding: 0px 0px;
  top: 0;
  left: 0;
  bottom:0;
  height:100%;
}

.wrapper {
  display: flex;
  grid-template-columns: 1fr 7fr 1fr;
  grid-column-gap: 3px;
  justify-content: center;
  align-items: center;
}
.back {
    display: flex;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1.5ch;
    justify-content: left;
    align-items: left;
    padding: none;
}
.header {
    display: flex;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1.5ch;
    justify-content: center;
    align-items: center;
    padding: none;
 }
.next {
    display: flex;
    grid-template-columns: 1fr 7fr 1fr;
    grid-template-rows: 1.5ch;
    justify-content: right;
    align-items: right;
    padding: none;
    }

a:link {
  color:rgb(84,64,55);
  text-decoration: none;
}
a:visited {
  color:rgb(84,64,55);
}
a:hover {
  color: rgb(49, 32, 26);
}
a:active {
  color: rgb(222,219,214);
}

:root {
  --back-color: rgb(54, 54, 137);
  --primary-color: #f9ffee;
}

body {
  background-color: var(--back-color);
  color: var(--primary-color);
}
.theme-switches {
  display: grid;
  position: fixed;
  z-index: 1;
  right:15%;
  margin-right:10%;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr;
}

.switch {
  border: 3px solid black;
  border-radius: 12px;
  height: 40px;
  width: 40px;
  margin: 0px;
  cursor: pointer;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items:center;
}

#switch-1 {
  border: 3px solid white;
  background-color: white;
}
#switch-1:hover{
  border: 3px solid gray;
  background-color: rgb(208,247,128);
}
#switch-4 {
  border: 3px solid white;
  background-color: gray;
}
#switch-4:hover{
  border: 3px solid gray;
  background-color: rgb(208,247,128);
}