/* Setting container to flex and width to 80% of view port */
.container{ 
	display: flex; 
	width: 20%;
  margin:auto;
} 
/*Adding background image to each section*/
.one{ 
	background: url(../img/1_phoenix-1.jpeg); 
} 
.two{ 
	background: url(../img/1_phoenix-2.jpeg); 
} 
.three{ 
	background: url(../img/1_phoenix-3.jpeg); 
} 
.four{ 
	background: url(../img/1_phoenix-4.jpeg); 
} 
/* Background properties and transition effect to section */
.section{ 
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat; 
	height: 40vh; 
	cursor: pointer; 
	flex: 0.2; 
	margin:8px; 
	position: relative; 
	transition: all 0.7s ease-out; 
} 

/* section with active class will grow flex to 3 times */
.section.active{ 
	flex: 3; 
}
